#gameBackground{
    background-color: black;
}
#titleBar{
    background-color: black;
    width:100%;
    height:80px;
}
.pointer-hover:hover {
    cursor: pointer;
    background-color: grey !important;
    border: 1px solid grey !important;
    color: white !important;
}
.list-group-item{
    font-size: 16px;
    text-align: center;
    padding: 14px;
}
.list-group-item:hover{
    font-weight: bolder;
    
}
.list-group-item:active{
    list-style-image: url(/assets/images/check.gif);

}
.rounded{
    border-radius: 10px !important;
}